<% provide(:title, "Teacher") %>
<% provide(:heading, "Welcome, #{@teacher.name}!") %>

<%= link_to "new course", new_teacher_path(:name => 'course') %>


<% unless @courses.blank? %>
	<p>All courses:</p>
	<ul>
		<% @courses.each do |course| %>
		<li><%= link_to course.title, teacher_path(:c_id => course.id) %></li>
		<% end %>
	</ul>
<% end %>