<% provide(:title, "Teacher(#{@course.title})") %>
<% provide(:heading, "Course: #{@course.title}") %>

<%= link_to "new lesson", new_teacher_path(:name => 'lesson', :c_id => params[:c_id]) %>

<p>Lessons:</p>
<ul>
<%  @lessons.each do |lesson| %>
	<li><%= link_to lesson, "#" %></li>
<% end %>
</ul>